<form class="flex flex-col space-y-2 md:max-w-sm">
  <div
    [hidden]="!message"
    class="alert alert-danger"
    role="alert"
    class="flex"
  ></div>
  <div class="flex">
    @if (loading) {
      <mat-progress-bar
        color="accent"
        color="accent"
        mode="indeterminate"
        style="margin-bottom: 15px"
      />
    }
  </div>
  <div class="flex-auto flex-row">
    <button
      mat-raised-button
      style="width: 100%"
      type="submit"
      color="primary"
      [disabled]="loading"
    >
      {{ loading ? "Cargando Módulo..." : "Ingresar" }}
    </button>
  </div>
  <div class="flex-auto flex-row">
    <button mat-button style="width: 100%" routerLink="../forgot-password">
      ¿Olvidó su contraseña?
    </button>
  </div>
</form>
